@charset "UTF-8";

.toy-btn-a {
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  text-align: center;
  vertical-align: middle;

}
.toy-btn-button {
  box-sizing: border-box;
  border: none;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  vertical-align: middle;

}