@charset "UTF-8";

.g-toy-nav{
  font-size: 14px;
  line-height: $HtoyH;
  .g-nav-item{
    display: inline-block;
    line-height: $HtoyH;
    min-height:$HtoyH ;
    min-width: 80px;
    padding: 0 5px;
    text-align: center;
    &:hover{
      transition: all 0.5s ease-in-out 0s;
    }
  }
}