<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../Static/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_625499_mvjmmtgfy2v5cdi.css">
    <link rel="stylesheet" href="../Static/toycss/fn.css">
</head>
<body class="g-toy-root g-skin-fff">
    <div class="g-toy-view">
        <div class="g-toy-page m-index-box">
            <header class="g-toy-header">
                <div class="layui-container">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-sm6 layui-col-xs12 m-header-logo">
                        <img class="m-logo-img" src="../Static/images/logo1.png" alt="">
                    </div>
                    <div class="layui-col-lg8 layui-col-md8 layui-col-sm12 layui-col-xs12 m-header-group">
                        <a class="m-group-a iconfont icon-search"></a>
                        <a class="m-group-a iconfont icon-mobile"></a>
                        <a class="m-group-a iconfont icon-wx"></a>
                        <a class="m-group-a iconfont icon-phone"></a>
                    </div>
                    <!--<div class="toy-lg-7 toy-md-7 toy-sm-6 toy-xs-12 g-toy-nav">
                        <a class="g-nav-item">首页</a>
                        <a class="g-nav-item">艺术框画</a>
                        <a class="g-nav-item">台历—挂历</a>
                        <a class="g-nav-item">照片冲印</a>
                        <a class="g-nav-item">个性名片</a>
                        <a class="g-nav-item">个性化礼品</a>
                        <a class="g-nav-item">经典产品</a>
                    </div>-->
                </div>
            </header>
            <div class="g-toy-content">
                <div class="layui-container">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div>条目1</div>
                            <div>条目2</div>
                            <div>条目3</div>
                            <div>条目4</div>
                            <div>条目5</div>
                        </div>
                    </div>
                    <div class="g-toy-nav m-index-nav">
                        <a class="g-nav-item">热门</a>
                        <a class="g-nav-item">艺术框画</a>
                        <a class="g-nav-item">台历—挂历</a>
                        <a class="g-nav-item">照片冲印</a>
                        <a class="g-nav-item">毕业纪念册—相片集</a>
                        <a class="g-nav-item">个性贴纸</a>
                        <a class="g-nav-item">个性名片</a>
                        <a class="g-nav-item">个性化礼品</a>
                        <a class="g-nav-item">个性化礼品</a>
                        <a class="g-nav-item">经典产品</a>
                    </div>
                    <div class="m-index-list">
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-item">
                            <div class="m-item-pdimg">
                                <img src="#" alt="">
                            </div>
                            <div class="m-item-pdinfo">
                                <div class="m-pdinfo-header">
                                    <p class="m-pdinfo-title">青春修炼册</p>
                                    <p class="m-pdinfo-price">￥129</p>
                                </div>
                                <div class="m-pdinfo-a ">
                                    <a class="toy-btn-a">立即开始</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-nav-group">
                    <div class="m-group-right">
                        <a class="m-group-a iconfont icon-search"></a>
                        <a class="m-group-a iconfont icon-mobile"></a>
                        <a class="m-group-a iconfont icon-wx"></a>
                        <a class="m-group-a iconfont icon-phone"></a>
                    </div>
                    <div class="m-group-top">
                        <a class="m-group-a iconfont icon-top"></a>
                    </div>
                </div>
            </div>
            <footer class="g-toy-footer">
                <div class=" m-footer-copy">Copyright © 2017 <!--采印-->提供技术支持</div>
            </footer>
        </div>
    </div>
    <script src="../Static/vendor/layui/layui.all.js"></script>
    <script src="../Static/vendor/jquery/jquery.min.js"></script>
    <script>
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                ,width: '100%' //设置容器宽度
                ,height:'410px'
                ,arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
        $('body').scroll(function () {
            var scrTop = $(this).scrollTop();
            if(scrTop > 80){
                $(".m-nav-group").addClass('m-roght-move');
            }else {
                $(".m-nav-group").removeClass('m-roght-move');
            }
        });

    </script>
</body>
</html>