<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../Static/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_625499_mvjmmtgfy2v5cdi.css">
    <link rel="stylesheet" href="../../../../../Static/toycss/fn.css">
</head>
<body class="g-toy-root g-skin-fff">
    <div class="g-toy-view">
        <div class="g-toy-page m-index-box">
            <header class="g-toy-header">
                <div class="layui-container">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-sm6 layui-col-xs12 m-header-logo">
                        <img class="m-logo-img" src="../../../../../Static/images/logo.png" alt="">
                    </div>
                    <div class="layui-col-lg8 layui-col-md8 layui-col-sm12 layui-col-xs12 m-header-group">
                        <a class="m-group-a iconfont icon-search"></a>
                        <a class="m-group-a iconfont icon-mobile"></a>
                        <a class="m-group-a iconfont icon-wx"></a>
                        <a class="m-group-a iconfont icon-phone"></a>
                    </div>
                </div>
            </header>
            <div class="g-toy-content">
                <div class="layui-container m-step2-container">
                    <div class="layui-fluid">
                        <div class="m-step2-subnav">
                            <span class="m-subnav-item active">详情</span>
                            <span class="m-subnav-item">模版</span>
                        </div>
                    </div>
                    <div class="m-step2-pdinfo">
                        <div class="m-pdinfo-left j-pdinfo-box">
                            <div class="m-pdinfo-box">
                                <img class="m-pdinfo-img" src="../../../../../Static/images/3.jpg" alt="">
                            </div>
                            <div class="m-pdinfo-text">
                                <p class="m-pdinfo-p">青春修炼手册</p>
                                <div class="m-step2info-price">价格：￥139</div>
                                <span class="m-pdinfo-span">尺寸：<b class="m-pdinfo-b">高21cm</b> <b class="m-pdinfo-b">宽21cm</b></span>
                                <div class="layui-form-item m-pdinfo-num">
                                    <label class="layui-form-label">数量：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <a class="m-pdinf-btn">选择模版</a>
                            </div>
                            <div class="m-animation-pdinfo"></div>
                        </div>

                    </div>
                    <div class="m-step2-imglist">
                        <ul class="m-imglist-ul">
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/1.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/2.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/3.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/4.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/5.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/6.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/7.jpg" alt="">
                            </li>
                            <li class="m-imglist-li">
                                <img class="m-imglist-img" src="../../../../../Static/images/8.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-nav-group">
                    <div class="m-group-right">
                        <a class="m-group-a iconfont icon-search"></a>
                        <a class="m-group-a iconfont icon-mobile"></a>
                        <a class="m-group-a iconfont icon-wx"></a>
                        <a class="m-group-a iconfont icon-phone"></a>
                    </div>
                    <div class="m-group-top">
                        <a class="m-group-a iconfont icon-top"></a>
                    </div>
                </div>
            </div>
            <footer class="g-toy-footer">
                <div class=" m-footer-copy">Copyright © 2017 采印提供技术支持</div>
            </footer>
        </div>
    </div>
    <script type="text/html" id="JthemeList">
        <div class="m-theme-box">
            <div class="m-theme-back j-theme-back">
                <div class="m-back-box"></div>
            </div>
            <div class="m-theme-list">
                <ul class="m-list-ul">
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                    <li class="m-list-li">
                        <a class="m-list-a"><img class="m-list-img" src="../../../../../Static/images/7.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script src="../../../../../Static/vendor/layui/layui.all.js"></script>
    <script src="../../../../../Static/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../../Static/js/rsutility.js"></script>
    <script>
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                ,width: '100%' //设置容器宽度
                ,height:'410px'
                ,arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });

        $('body').scroll(function () {
            var scrTop = $(this).scrollTop();
            var navTop = $('.m-index-nav').offset().top;
            if(scrTop > 80){
                $(".m-nav-group").addClass('m-right-move');
            }else {
                $(".m-nav-group").removeClass('m-right-move');
            }
            if(navTop == 0 || navTop < 0){
                $(".m-index-nav").addClass('m-top-move');
            }else {
                $(".m-index-nav").removeClass('m-top-move');
            }
        });
        $(".m-pdinf-btn").on('click',function () {
            var mThemeHtml = $("#JthemeList").html();
            $(".m-step2-pdinfo").append(mThemeHtml);
            $(".m-theme-box").addClass("m-theme-leftmove");
            $(".j-pdinfo-box").addClass("m-pdinfo-leftmove");
            $(".j-pdinfo-box").removeClass("m-pdinfo-rightmove");
            setTimeout(function () {
                var marginLeft = $(".m-pdinfo-leftmove").css("visibility");
                console.log(marginLeft)
                if(marginLeft == 'hidden'){
                    $(".j-pdinfo-box").hide();
                }
            },1000)

        });
        $(".m-step2-pdinfo").on('click','.j-theme-back',function () {
            $(".j-pdinfo-box").show();
            $(".j-pdinfo-box").addClass("m-pdinfo-rightmove");
            $(".j-pdinfo-box").removeClass("m-pdinfo-leftmove");
            $(".m-theme-box").addClass("m-theme-rightmove");
            setTimeout(function () {
                var marginLeft = $(".m-theme-rightmove").css("visibility");
                console.log(marginLeft)
                if(marginLeft == 'hidden'){
                    $(".m-theme-box").remove();
                }
            },1000)


        });


    </script>
</body>
</html>